<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
  <script type="text/javascript" th:src="@{/js/login.js}"></script>

  <title>로그인 - GiveBacks</title>
</head>
<body>
<header>
  <nav>
    <div class="logo">GiveBacks</div>
    <ul>
      <li><a href="/">홈</a></li>
      <li><a href="#">자원봉사 찾기</a></li>
      <li><a href="#">봉사자 등록</a></li>
      <li><a href="/user/signup">회원가입</a></li>
    </ul>
  </nav>
</header>

<section class="login-form">
  <h1>로그인</h1>
  <form>
    <div>
      <input type="email" name="userEmail" id="userEmail" placeholder="이메일 입력" required>
    </div>
    <div>
      <input type="password" name="userPassword" id="userPassword" placeholder="비밀번호 입력" required>
    </div>
    <div>
      <button id="login-button" action="login">로그인</button>
    </div>
  </form>
</section>

<footer>
  <p>&copy; 2023 GiveBacks. 모든 권리 보유.</p>
</footer>
</body>
</html>
